{
    "extends": "@vimeo/eslint-config-player/es6",
    "env": {
        "node": true,
        "es6": true
    },
    "settings": {
        "ecmascript": 6,
        "esnext": true
    },
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "generators": false,
        "modules": true
    },
    "globals": {
        "console": false
    },
    "rules": {
        "camelcase": 0,
        "comma-dangle": [1, "always-multiline"],
        "max-params": ["error", 7],
        "complexity": ["error", 14],
        "prefer-rest-params": 0,
        "prefer-spread": 0,
        "strict": 0
    }
}
