{
    "env": {
        "browser": true,
        "es6": true
    },
    "env": {
        "es6": true
    },
    "settings": {
        "ecmascript": 6,
        "esnext": true
    },
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "generators": false,
        "modules": true
    },
    "globals": {
        "console": false
    },
    "rules": {
        "global-strict": 0,
        "no-extra-strict": 0,
        "no-space-before-semi": 0,
        "space-after-function-name": 0,
        "space-before-function-parentheses": 0,
        "space-unary-word-ops": 0,
        "no-alert": 2,
        "no-array-constructor": 2,
        "no-caller": 2,
        "no-catch-shadow": 2,
        "no-cond-assign": 2,
        "no-console": 0,
        "no-constant-condition": 2,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-delete-var": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-else-return": 2,
        "no-empty": 2,
        "no-empty-character-class": 2,
        "no-empty-label": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-ex-assign": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-semi": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-func-assign": 2,
        "no-implied-eval": 2,
        "no-inner-declarations": [2, "functions"],
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-iterator": 2,
        "no-label-var": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-lonely-if": 2,
        "no-mixed-spaces-and-tabs": [2, false],
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-multiple-empty-lines": 2,
        "no-native-reassign": 2,
        "no-negated-in-lhs": 2,
        "no-nested-ternary": 2,
        "no-new": 2,
        "no-new-func": 2,
        "no-new-object": 2,
        "no-new-wrappers": 2,
        "no-obj-calls": 2,
        "no-octal": 2,
        "no-octal-escape": 2,
        "no-path-concat": 0,
        "no-plusplus": 0,
        "no-process-env": 0,
        "no-process-exit": 2,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-regex-spaces": 2,
        "no-reserved-keys": 0,
        "no-return-assign": 2,
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-spaced-func": 2,
        "no-sparse-arrays": 2,
        "no-this-before-super": 2,
        "no-throw-literal": 2,
        "no-trailing-spaces": 2,
        "no-undef": 2,
        "no-undef-init": 2,
        "no-underscore-dangle": 0,
        "no-unreachable": 2,
        "no-unused-expressions": 2,
        "no-unused-vars": [2, { "vars": "all", "args": "none" }],
        "no-use-before-define": 2,
        "no-warning-comments": [1, { "terms": ["@todo", "todo", "fixme", "@fixme"] }],
        "no-with": 2,
        "no-extra-parens": 0,

        "accessor-pairs": [2, { "setWithoutGet": true }],
        "array-bracket-spacing": [2, "never"],
        "brace-style": [2, "stroustrup"],
        "camelcase": 2,
        "comma-dangle": [1, "always-multiline"],
        "comma-spacing": 2,
        "comma-style": [2, "last"],
        "complexity": [1, 12],
        "computed-property-spacing": [2, "never"],
        "consistent-return": 2,
        "constructor-super": 2,
        "curly": [2, "all"],
        "dot-notation": [2, { "allowKeywords": true }],
        "eol-last": 2,
        "eqeqeq": 2,
        "indent": [2, 4, { "SwitchCase": 1 }],
        "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
        "max-nested-callbacks": [1, 2],
        "max-params": [2, 4],
        "max-statements": [0, 10],
        "new-cap": 2,
        "new-parens": 2,
        "object-curly-spacing": [2, "always"],
        "object-shorthand": [2, "always"],
        "operator-assignment": [2, "always"],
        "prefer-const": 2,
        "quotes": [2, "single", "avoid-escape"],
        "radix": 2,
        "semi": 2,
        "semi-spacing": [2, {"before": false, "after": true}],
        "space-after-keywords": [2, "always"],
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, "never"],
        "space-in-parens": [2, "never"],
        "space-infix-ops": 2,
        "space-return-throw-case": 2,
        "space-unary-ops": [2, { "words": true, "nonwords": false }],
        "spaced-comment": [2, "always", { "exceptions": ["/"] }],
        "strict": [2, "function"],
        "use-isnan": 2,
        "valid-jsdoc": [1, {
            "prefer": {
                "returns": "return",
                "arg": "param",
                "arguments": "param"
            },
            "requireParamDescription": false,
            "requireReturn": false,
            "requireReturnDescription": false
        }],
        "valid-typeof": 2,
        "wrap-iife": [2, "outside"],
        "yoda": [2, "never"],
        "camelcase": [0, { "properties": "always" }],
        "prefer-const": 0,
        "brace-style": [2, "stroustrup", { "allowSingleLine": false }],
        "object-shorthand": 0,
        "no-implicit-coercion": 0
    }
}
